<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="WatermarkOverlay" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="D7E1F8E8-53A1-4C77-9E7C-2A6A9B5BDE10">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="WatermarkOverlay" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <!-- Harvested files from publish folder -->
      <ComponentGroupRef Id="PublishFiles" />
    </Feature>

    <!-- Allow silent install: msiexec /i WatermarkOverlay.msi /qn -->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WatermarkOverlay" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="WatermarkOverlay" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="InstallRegistry" Guid="*">
        <RegistryValue Root="HKLM" Key="Software\WatermarkOverlay" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Auto-run at login for all users -->
      <Component Id="AutoRunAllUsers" Guid="*">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="WatermarkOverlay" Type="string" Value="[INSTALLFOLDER]WatermarkOverlay.exe" KeyPath="yes" />
      </Component>

      <!-- Scheduled Task: start at user logon and on workstation unlock -->
      <Component Id="ScheduledTask" Guid="*">
        <util:Task Id="WatermarkOverlayTask"
                   Name="WatermarkOverlay"
                   Path="[INSTALLFOLDER]WatermarkOverlay.exe"
                   Arguments=""
                   WorkingDirectory="[INSTALLFOLDER]"
                   Execute="immediate"
                   LogonType="InteractiveToken"
                   RunLevel="LeastPrivilege"
                   Enabled="yes">
          <util:TaskPrincipal LogonType="InteractiveToken" RunLevel="LeastPrivilege" />
          <util:TaskTriggers>
            <util:LogonTrigger />
            <util:SessionStateChangeTrigger StateChange="SessionUnlock" />
          </util:TaskTriggers>
          <util:TaskSettings StartWhenAvailable="yes" MultipleInstances="IgnoreNew" />
        </util:Task>
        <RegistryValue Root="HKLM" Key="Software\WatermarkOverlay" Name="ScheduledTask" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="ShortcutComponent" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Directory="ApplicationProgramsFolder" Name="WatermarkOverlay" WorkingDirectory="INSTALLFOLDER" Advertise="no" Target="[INSTALLFOLDER]WatermarkOverlay.exe" />
        <Shortcut Id="UninstallShortcut" Directory="ApplicationProgramsFolder" Name="Uninstall WatermarkOverlay" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
        <RemoveFile Id="RemoveStartMenuFiles" Directory="ApplicationProgramsFolder" Name="*" On="uninstall" />
        <RemoveFolder Id="RemoveStartMenuFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\WatermarkOverlay" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>

