<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="WatermarkOverlay" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="D7E1F8E8-53A1-4C77-9E7C-2A6A9B5BDE10">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="WatermarkOverlay" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <!-- Harvested files from publish folder -->
      <ComponentGroupRef Id="PublishFiles" />
    </Feature>

    <!-- Create a simple watchdog scheduled task (runs every minute) to relaunch if killed -->
    <CustomAction Id="CreateWatchdogTask" Directory="SystemFolder" ExeCommand="schtasks.exe /Create /SC MINUTE /MO 1 /TN &quot;WatermarkOverlayWatchdog&quot; /TR &quot;[INSTALLFOLDER]WatermarkOverlay.exe&quot; /F" Impersonate="yes" Return="ignore" />
    <CustomAction Id="DeleteWatchdogTask" Directory="SystemFolder" ExeCommand="schtasks.exe /Delete /TN &quot;WatermarkOverlayWatchdog&quot; /F" Impersonate="yes" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="CreateWatchdogTask" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="DeleteWatchdogTask" Before="InstallFinalize">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>

    <!-- Allow silent install: msiexec /i WatermarkOverlay.msi /qn -->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WatermarkOverlay" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="WatermarkOverlay" />
      </Directory>
      <Directory Id="CommonStartupFolder" Name="Startup" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="InstallRegistry" Guid="*">
        <RegistryValue Root="HKLM" Key="Software\WatermarkOverlay" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Auto-run at login for all users -->
      <Component Id="AutoRunAllUsers" Guid="*">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="WatermarkOverlay" Type="string" Value="[INSTALLFOLDER]WatermarkOverlay.exe" KeyPath="yes" />
      </Component>

      <!-- Startup shortcut (per machine) so app runs at logon even if Run key is blocked -->
      <Component Id="StartupShortcut" Guid="*">
        <Shortcut Id="StartupLink" Directory="CommonStartupFolder" Name="WatermarkOverlay" Target="[INSTALLFOLDER]WatermarkOverlay.exe" />
        <RegistryValue Root="HKLM" Key="Software\WatermarkOverlay" Name="StartupShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="ShortcutComponent" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Directory="ApplicationProgramsFolder" Name="WatermarkOverlay" WorkingDirectory="INSTALLFOLDER" Advertise="no" Target="[INSTALLFOLDER]WatermarkOverlay.exe" />
        <Shortcut Id="UninstallShortcut" Directory="ApplicationProgramsFolder" Name="Uninstall WatermarkOverlay" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
        <RemoveFile Id="RemoveStartMenuFiles" Directory="ApplicationProgramsFolder" Name="*" On="uninstall" />
        <RemoveFolder Id="RemoveStartMenuFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\WatermarkOverlay" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>

